@charset 'UTF-8';
// The layout/ folder contains everything that takes part in laying out the
// site or application. This folder could have stylesheets for the main parts
// of the site (header, footer, navigation, sidebar…), the grid system or even
// CSS styles for all the forms.
@import '../utilities/variables';

.site-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $color-dark;
  overflow: hidden;
  transform: translateX(0);
  transition: 0.25s;
  z-index: 2000;
  will-change: transform;
}

body.site-menu--active {
  overflow: hidden;

  .site-body {
    max-height: 100%;
    transform: translateX(-70%);
    filter: blur(2px) grayscale(0.5);
    transition: 0.25s;
    pointer-events: none;
  }
}

.site-main {
  flex: 1;
}

@media only screen and (max-width: 1023px) {
  .site-body {
    padding-bottom: calc(#{$sidebar-length} + 1rem);
  }
}