@charset 'UTF-8';

.mt--large {
  margin-top: 20vh;
}

.boundary--around {
  padding: $spacing-normal;
}

.text-right {
  text-align: right !important;
}

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}