@charset 'UTF-8';

// Color palette
$majorelle-blue: #6e52e0;
$french-blue: #0077b6;
$ice-cold: #c3f7eb;
$turquoise: #00a896;
$turquoise-bright: #33e1ed;
$blue-sky: #78dbf3;
$persian-green: #2a9d8f;
$rich-black: #0d0d0d;
$black-pearl: #1e1e2c;
$black-blueberry: #2d2d44;
$sonic-silver: #757780;
$light-grey: #cbd2d0;
$milk-glass: #fbf9f3;
$imperial-red: #e63946;

// Color elements
$color-black: $rich-black;
$color-dark: $black-pearl;
$color-grey: $sonic-silver;
$color-grey-light: $light-grey;
$color-white: $milk-glass;

$color-primary: $turquoise;
$color-error: $imperial-red;
$color-success: $persian-green;

$color-game: $majorelle-blue;
$color-web-app: $turquoise-bright;
$color-website: $french-blue;

// Sizes
$spacing-large: 10vw;
$spacing-normal: 4vw;
$length-small: 900px;
$length-text: 730px;

$sidebar-length: 54px;

// Fonts
$font-heading: 'Prompt', sans-serif;
$font-body: 'Quicksand', sans-serif;

// Easings
$easeInQuint: cubic-bezier(0.6, 0, 0.7, 0);
$easeOutQuint: cubic-bezier(0.2, 1, 0.4, 1);

// Transitions
$transition: 0.15s $easeInQuint;