@charset 'UTF-8';

// Links
// =====================
.link-side-line {
  position: relative;
  margin-left: 55px;

  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: $color-primary;
    transition: $transition;
  }
  
  &:before {
    top: 50%;
    left: -55px;
    width: 50px;
    transform-origin: right;
  }
  
  &:after {
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
  }

  &:hover{
    &:before {
      transform: scaleX(0);
    }

    &:after {
      transform: scaleX(1);
    }
  }
}

.link--dot {
  position: relative;
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: $color-primary;
    transition: $transition;
  }
  
  &::before {
    top: 0.5em;
    left: 0.5em;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  
  &:after {
    bottom: 0.2em;
    left: 0.75em;
    height: 1px;
    width: 60%;
    transform: scaleX(0);
    transform-origin: left;
    transition-delay: 0.075s;
  }
  
  &:hover {
    &::before {
      transform: translateY(1.3em) scaleX(0);
    }

    &:after {
      transform: scaleX(1);
    }
  }
}

.link--more {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  
  svg {
    margin-left: 5px;
    transition: $transition;
  }

  &:hover {
    svg{
      transform: translateX(5px);
    }
  }
}

// Buttons
// =====================
.btn--border {
  min-width: 150px;
  max-width: 100%;
  padding: 0.5em 2.2em;
  font-size: 1.1em;
  border: 1px solid;
  transition: $transition;

  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.btn--square {
  position: relative;
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid $color-primary;
    transform: rotate(0);
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  &::after {
    transition-delay: 0.075s;
  }

  &:hover {
    &::before {
      transform: rotate(15deg);
      opacity: 1;
    }

    &::after {
      transform: rotate(40deg);
      opacity: 0.3;
    }
  }
}

// Decorations
// =====================
.dec-text__end-dot {
    &::after {
    content: ".";
    color: $color-white;
  }
}

.project--game,
.project--web-app,
.project--website {
  @include project-type-color-base;
}

.project--game {
  @include project-type-color-customize(65deg, $color-game);
}

.project--web-app {
  @include project-type-color-customize(65deg, $color-web-app);
}

.project--website {
  @include project-type-color-customize(65deg, $color-website);
}

.dec-background-code {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80vw;
  max-height: 100vh;
  transform: translate(-50%, -50%);
  margin: 0;
  opacity: 0.02;
  overflow: hidden;
  pointer-events: none;
  columns: 2;
  white-space: pre-wrap;
}

// Lists
// =====================
.list--clean {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

// Images / Figures
// =====================
.figure-caption {
  position: relative;
  overflow: hidden;

  figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    background: #0003;
    backdrop-filter: blur(3px);
    transform: translateY(100%);
    transition: $transition;

    p {
      margin-bottom: 0;
      line-height: 1.5;
      text-shadow: 0 0 4px #000;
      color: #fff;
    }
  }

  &:hover {
    figcaption {
      transform: translateY(0);
    }
  }
}