@charset 'UTF-8';
@import '../../utilities/variables';

.contact-form__container {
  width: 100%;
  max-width: $length-small;
  margin: auto;
  padding: 1em 4vw;
}

.contact-form,
.contact-form__field {
  display: flex;
  flex-direction: column;
}

.contact-form__field {
  label {
    font-size: 1.2em;
  }

  input,
  textarea {
    padding: 0.7em 1.5em;
    font-size: 1.4em;
    font-weight: bold;
    color: $color-white;
    border: 0;
    background: none;
    background: linear-gradient(45deg, #fff1, transparent);
  }

  button {
    align-self: flex-end;
  }
}
