@charset 'UTF-8';
@import '../../utilities/variables';

.header-section {
  margin: 3vh 0 6vh 0;
}

.header-section__heading {
  margin-bottom: 0;
  color: $color-grey;
}

.header-section__paragraph {
  position: relative;
  margin-left: 6vw;
  padding-left: 1vw;

  &:before {
    content: "";
    position: absolute;
    top: 0.8em;
    right: 100%;
    width: 6vw;
    height: 1px;
    background-color: $color-primary;
  }
}