@charset 'UTF-8';
@import '../../utilities/variables';

.header-category {
  padding: $spacing-normal;
}

.header-category__page-counter {
  margin-bottom: 0;
  
  sup {
    font-size: 0.55em;
    font-weight: normal;
    color: $color-grey;
  }
}

.header-category__title {
  color: $color-primary;
}

.header-category__description {
  position: relative;
  max-width: $length-text;
  padding: 1vh 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 95%;
    width: 100%;
    height: 100%;
    border: 2px solid $color-primary;
    opacity: 0.15;
  }

  margin-left: 6vw;
  padding-left: 1vw;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    width: 6vw;
    height: 1px;
    background-color: $color-grey;
  }
}