@charset 'UTF-8';
@import '../../utilities//variables';

.page-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6vh;
}

.page-navigation__button {
  display: flex;
  padding: 10px;
}

.page-navigation__numbers {
  margin: 0 1em;
  letter-spacing: -2px;
  
  small {
    color: $color-grey;
  }
  
  span {
    margin: 0 5px;
  }
}