@charset 'UTF-8';
@import '../../utilities/variables';

.body-project__slider {
  position: relative;

  .gallery-slider {
    display: grid;
    line-height: 0;

    .slick-slide {
      & > div {
        margin-right: 1vw;
      }
    }
  }

  .body-slider__arrows {
    margin-right: 1vw;
    text-align: right;
  }

  .body-slider__arrow {
    padding: 6px;

    &:hover {
      .icon {
        fill: $color-primary
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .body-project__slider {
    margin-top: 3vh;
  }
}