@charset 'UTF-8';
// The base folder holds what we might call the boilerplate code for the
// project. In there, you might find the reset file, some typographic rules,
// and probably a stylesheet defining some standard styles for commonly used
// HTML elements.
@import '../utilities/variables';

* {
  box-sizing: border-box;
}

body {
  background-color: $color-black;
  color: $color-white;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

svg {
  max-width: 100%;
  height: auto;
}

abbr[title] {
  cursor: help;
}